<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <title>Ministério</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="favicon.ico">

    <!-- <link rel="stylesheet" href="../src/css/style.css" type="text/css"> -->
    <script>document.documentElement.classList.add("js");</script>
  </head>
  <body>
    <%= require('html-loader!../src/templates/partials/header.html').default %>

    <section class="introducao">
      <div class="container">
        <h1 data-anime="400" class="fadeInDown">Venha nos visitar !</h1>
        <blockquote data-anime="800" class="fadeInDown quote-externo">
          <p>"Quanto mais do céu existe em nossas vidas, menos da terra cobiçaremos."</p>
          <cite>CHARLES SPURGEON</cite>
        </blockquote>
      </div>
    </section>

    <section class="produtos container fadeInDown" data-anime="1600">
      <h2 class="subtitulo">Um lugar para pertencer</h2>
      <ul class="produtos_lista">

        <li class="grid-1-3">
          <div class="produtos_icone">
            <img src="assets/produtos/passeio.svg" alt="Icone crianças">
          </div>
          <h3>Crianças</h3>
          <p>Possuímos salinhas para crianças durante a pregação.</p>
        </li>

        <li class="grid-1-3">
          <div class="produtos_icone">
            <img src="assets/produtos/esporte.svg" alt="Bikcraft Passeio">
          </div>
          <h3>Jovens</h3>
          <p>A igreja tem o departamento de jovens, venha pertencer ao deck.</p>
        </li>

        <li class="grid-1-3">
          <div class="produtos_icone">
            <img src="assets/produtos/retro.svg" alt="Bikcraft Passeio">
          </div>
          <h3>Adultos</h3>
          <p>Temos diversos outros departamentos para os mais velhos.</p>
        </li>

      </ul>

      <div class="call">
        <p>clique aqui e realize seu cadastro.</p>
        <a href="produtos.html" class="btn btn-preto">Cadastro</a>
      </div>

    </section>
    <!-- Fecha Produtos -->

    <section class="qualidade container">
      <h2 class="subtitulo">Valores</h2>
      <img src="assets/church.svg" alt="ministerio">
      <ul class="qualidade_lista">
        <li class="grid-1-3">
          <h3>Família</h3>
          <p>Esta Igreja é um lugar de família. Nós nos dedicamos a comunhão.</p>
        </li>
        <li class="grid-1-3">
          <h3>Evangelho</h3>
          <p>Aqui A Palavra de Deus é pregada, ensinada e colocada em prática.</p>
        </li>
        <li class="grid-1-3">
          <h3>Missão</h3>
          <p>Focamos em missões, apoiamos pessoas ao redor do mundo.</p>
        </li>
      </ul>
    </section>

    <div class="quebra">
      <blockquote class="quote-externo container">
        <p>"Não há nada na existência humana que Cristo não possa dizer: É MEU"</p>
        <cite>ABRAHAM KUYPER</cite>
      </blockquote>
    </div>

    <%= require('html-loader!../src/templates/partials/footer.html').default %>
  </body>
</html>